# General Docker files
docker-compose.override.yml
Dockerfile

# For stock-app
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and temporary files
*.log
*.tmp
*.cache/

# Loki logs and data
/loki/data/
loki*.log

# Prometheus data
/prometheus/data/
prometheus*.log

# Grafana data and logs
/grafana/data/
grafana*.log

# Promtail logs
/promtail/*.log

# Environment variables
.env
.env.*

# Build artifacts
build/
dist/
